.mic::-webkit-scrollbar{
    width: 10px;    
}
.mic::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: rgb(149, 142, 168);   
}
.mic::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(18, 53, 85);   
}
/* .bg{
  background-color: rgb(49, 49, 97);
} */